@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    padding: 0 10px;
}
.disable{
    display: none;
}
.brending{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.nav_menu{
    display: flex;
    align-items: center;
}
.nav_item{
    list-style: none;
}
.nav_link{
    color: #fff;
    padding:0 20px;
    font-size: 18px;
    text-decoration: none;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    transition:all 0.3s ease-out;
}
.main{
    padding: 10px;
}
.about{
    text-align: center;
}
.about p{
    margin: 10px 0;
}
.iconBoxes{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
}
.commonBoxes{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}
.commonBoxes i{
    font-size: 30px;
}
h1{
    font-size: 40px;
    font-weight: 700;
    font-family: "Lobster Two", sans-serif;
}
.imageContent{
    display: flex;
    align-items: center;
    gap: 20px;
}
.imageContent img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.imageContent2{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.imageContent2 img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .disable{
        display: block;
    }
    .nav_menu{
        position: absolute;
        top: 50px; left: -100%;
        width: 50%; height: 100%;
        flex-direction: column;
        background-color: #252525;
        transition: 1s;
    }
    .nav_item{
        margin: 10px 0;
    }
    .nav_menu.active{
        left: 0;
    }
    .main img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .iconBoxes{
        gap:10px;
    }
    .commonBoxes{
        width: 100px;
        height: 100px;
    }
    .commonBoxes i,
    h2{
        font-size: 16px;
    }
    .imageContent,
    .imageContent2{
        flex-wrap: wrap;
    }
    .imageContent img,
    .imageContent2 img{
        width: 140px;
        height: 80px;
    }
    .imageContent p,
    .imageContent2 p{
        width: 140px;
    }
}